/*** Usage
  * - Override scss/css in your custom theme.
  * - Override library 'containerrow-background-colors' in your custom theme.
  * - Copy 'paragraph--bs4crp-containerrow.html.twig' to your custom theme and attach custom library.
***/
.paragraph--type--bs4crp-column {
  &.bg-color-1 {
    background-color: #5bc0de;
  }

  &.bg-color-2 {
    background-color: #f0ad4e;
  }

  &.bg-color-3 {
    background-color: #5cb85c;
  }
}
