/*** Usage
  * - Override scss/css in your custom theme.
  * - Override library 'containerrow-background-colors' in your custom theme.
  * - Copy 'paragraph--bs4crp-containerrow.html.twig' to your custom theme and attach custom library.
***/
.paragraph--type--bs4crp-containerrow.bg-color-1 {
  background-color: #5bc0de; }
.paragraph--type--bs4crp-containerrow.bg-color-2 {
  background-color: #f0ad4e; }
.paragraph--type--bs4crp-containerrow.bg-color-3 {
  background-color: #5cb85c; }

/*# sourceMappingURL=containerrow-background-colors.css.map */
