{#
 This template render a bootstrap4 container + row.
 Options:
  - full-width
  - background-color.
#}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{{ attach_library('bootstrap4_container_row_paragraph/containerrow-background-colors') }}

{% if paragraph.bs4crp_containerrow_is_fullwidth.value == true %}

  {# FULL WIDTH CONTAINER#}
  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      <div class="row">
        {{ content }}
      </div>
    </div>
  </div>
  {# // FULL WIDTH CONTAINER#}

{% else %}

  {# CONTENT WIDTH CONTAINER#}
  <div{{ attributes.addClass(classes).addClass('container') }}>
    <div class="row">
      {{ content }}
    </div>
  </div>
  {# // CONTENT WIDTH CONTAINER#}

{% endif %}
